<p id="notice"><%= notice %></p>

<p>
  <strong>Auth account:</strong>
  <%= @note.auth_account_id %>
</p>

<p>
  <strong>Note date:</strong>
  <%= @note.note_date %>
</p>

<p>
  <strong>Note:</strong>
  <%= @note.note %>
</p>

<p>
  <strong>Status:</strong>
  <%= @note.status_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @note.updated_by %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @note.created_by %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
