<%= form_with(model: grade_type) do |form| %>
  <% if grade_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade_type.errors.count, "error") %> prohibited this grade_type from being saved:</h2>

      <ul>
        <% grade_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :auth_account_id %>
    <%= form.text_field :auth_account_id %>
  </div>

  <div class="field">
    <%= form.label :grade_type_name %>
    <%= form.text_field :grade_type_name %>
  </div>

  <div class="field">
    <%= form.label :grade_type_order %>
    <%= form.number_field :grade_type_order %>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.text_field :status_id %>
  </div>

  <div class="field">
    <%= form.label :updated_by %>
    <%= form.text_field :updated_by %>
  </div>

  <div class="field">
    <%= form.label :created_by %>
    <%= form.text_field :created_by %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
