<p id="notice"><%= notice %></p>

<h1>Grade Types</h1>

<table>
  <thead>
    <tr>
      <th>Auth account</th>
      <th>Grade type name</th>
      <th>Grade type order</th>
      <th>Status</th>
      <th>Updated by</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grade_types.each do |grade_type| %>
      <tr>
        <td><%= grade_type.auth_account_id %></td>
        <td><%= grade_type.grade_type_name %></td>
        <td><%= grade_type.grade_type_order %></td>
        <td><%= grade_type.status_id %></td>
        <td><%= grade_type.updated_by %></td>
        <td><%= grade_type.created_by %></td>
        <td><%= link_to 'Show', grade_type %></td>
        <td><%= link_to 'Edit', edit_grade_type_path(grade_type) %></td>
        <td><%= link_to 'Destroy', grade_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade Type', new_grade_type_path %>
