<p id="notice"><%= notice %></p>

<p>
  <strong>Auth account:</strong>
  <%= @grade_type.auth_account_id %>
</p>

<p>
  <strong>Grade type name:</strong>
  <%= @grade_type.grade_type_name %>
</p>

<p>
  <strong>Grade type order:</strong>
  <%= @grade_type.grade_type_order %>
</p>

<p>
  <strong>Status:</strong>
  <%= @grade_type.status_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @grade_type.updated_by %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @grade_type.created_by %>
</p>

<%= link_to 'Edit', edit_grade_type_path(@grade_type) %> |
<%= link_to 'Back', grade_types_path %>
