<p id="notice"><%= notice %></p>

<h1>Task Activities</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Activity</th>
      <th>Activity note</th>
      <th>Activity order</th>
      <th>Status</th>
      <th>Updated by</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_activities.each do |task_activity| %>
      <tr>
        <td><%= task_activity.task_id %></td>
        <td><%= task_activity.activity_id %></td>
        <td><%= task_activity.activity_note %></td>
        <td><%= task_activity.activity_order %></td>
        <td><%= task_activity.status_id %></td>
        <td><%= task_activity.updated_by %></td>
        <td><%= task_activity.created_by %></td>
        <td><%= link_to 'Show', task_activity %></td>
        <td><%= link_to 'Edit', edit_task_activity_path(task_activity) %></td>
        <td><%= link_to 'Destroy', task_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task Activity', new_task_activity_path %>
