<p id="notice"><%= notice %></p>

<h1>Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Auth account</th>
      <th>Subject name</th>
      <th>Subject order</th>
      <th>Status</th>
      <th>Updated by</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.auth_account_id %></td>
        <td><%= subject.subject_name %></td>
        <td><%= subject.subject_order %></td>
        <td><%= subject.status_id %></td>
        <td><%= subject.updated_by %></td>
        <td><%= subject.created_by %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
