<p id="notice"><%= notice %></p>

<p>
  <strong>Organization name:</strong>
  <%= @auth_organization.organization_name %>
</p>

<p>
  <strong>Auth account:</strong>
  <%= @auth_organization.auth_account_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @auth_organization.role_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @auth_organization.status_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @auth_organization.updated_by %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @auth_organization.created_by %>
</p>

<%= link_to 'Edit', edit_auth_organization_path(@auth_organization) %> |
<%= link_to 'Back', auth_organizations_path %>
