<p id="notice"><%= notice %></p>

<p>
  <strong>Auth account:</strong>
  <%= @material.auth_account_id %>
</p>

<p>
  <strong>Material name:</strong>
  <%= @material.material_name %>
</p>

<p>
  <strong>Material order:</strong>
  <%= @material.material_order %>
</p>

<p>
  <strong>Teacher text ind:</strong>
  <%= @material.teacher_text_ind %>
</p>

<p>
  <strong>Test set ind:</strong>
  <%= @material.test_set_ind %>
</p>

<p>
  <strong>Solution key ind:</strong>
  <%= @material.solution_key_ind %>
</p>

<p>
  <strong>Workbook ind:</strong>
  <%= @material.workbook_ind %>
</p>

<p>
  <strong>Material medium:</strong>
  <%= @material.material_medium_id %>
</p>

<p>
  <strong>Material volume:</strong>
  <%= @material.material_volume %>
</p>

<p>
  <strong>Material edition:</strong>
  <%= @material.material_edition %>
</p>

<p>
  <strong>Material series:</strong>
  <%= @material.material_series %>
</p>

<p>
  <strong>Publisher name:</strong>
  <%= @material.publisher_name %>
</p>

<p>
  <strong>Publisher city:</strong>
  <%= @material.publisher_city %>
</p>

<p>
  <strong>Publisher state:</strong>
  <%= @material.publisher_state %>
</p>

<p>
  <strong>Publish year:</strong>
  <%= @material.publish_year %>
</p>

<p>
  <strong>Website version:</strong>
  <%= @material.website_version %>
</p>

<p>
  <strong>Website publisher:</strong>
  <%= @material.website_publisher %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @material.website_url %>
</p>

<p>
  <strong>Website publish date:</strong>
  <%= @material.website_publish_date %>
</p>

<p>
  <strong>Website access date:</strong>
  <%= @material.website_access_date %>
</p>

<p>
  <strong>Library city:</strong>
  <%= @material.library_city %>
</p>

<p>
  <strong>Database service:</strong>
  <%= @material.database_service %>
</p>

<p>
  <strong>Bibliography ind:</strong>
  <%= @material.bibliography_ind %>
</p>

<p>
  <strong>Material note:</strong>
  <%= @material.material_note %>
</p>

<p>
  <strong>Status:</strong>
  <%= @material.status_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @material.updated_by %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @material.created_by %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
