<p id="notice"><%= notice %></p>

<p>
  <strong>Auth account:</strong>
  <%= @activity.auth_account_id %>
</p>

<p>
  <strong>Activity name:</strong>
  <%= @activity.activity_name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @activity.subject_id %>
</p>

<p>
  <strong>Activity order:</strong>
  <%= @activity.activity_order %>
</p>

<p>
  <strong>Default time in hours:</strong>
  <%= @activity.default_time_in_hours %>
</p>

<p>
  <strong>Default time in minutes:</strong>
  <%= @activity.default_time_in_minutes %>
</p>

<p>
  <strong>Activity overview:</strong>
  <%= @activity.activity_overview %>
</p>

<p>
  <strong>Transcript credit:</strong>
  <%= @activity.transcript_credit %>
</p>

<p>
  <strong>Academic course ind:</strong>
  <%= @activity.academic_course_ind %>
</p>

<p>
  <strong>Recurring task ind:</strong>
  <%= @activity.recurring_task_ind %>
</p>

<p>
  <strong>Sunday recur ind:</strong>
  <%= @activity.sunday_recur_ind %>
</p>

<p>
  <strong>Monday recur ind:</strong>
  <%= @activity.monday_recur_ind %>
</p>

<p>
  <strong>Tuesday recur ind:</strong>
  <%= @activity.tuesday_recur_ind %>
</p>

<p>
  <strong>Wednesday recur ind:</strong>
  <%= @activity.wednesday_recur_ind %>
</p>

<p>
  <strong>Thursday recur ind:</strong>
  <%= @activity.thursday_recur_ind %>
</p>

<p>
  <strong>Friday recur ind:</strong>
  <%= @activity.friday_recur_ind %>
</p>

<p>
  <strong>Saturday recur ind:</strong>
  <%= @activity.saturday_recur_ind %>
</p>

<p>
  <strong>Activity priority:</strong>
  <%= @activity.activity_priority %>
</p>

<p>
  <strong>Activity note:</strong>
  <%= @activity.activity_note %>
</p>

<p>
  <strong>Status:</strong>
  <%= @activity.status_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @activity.updated_by %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @activity.created_by %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
