<%= form_with(model: plan) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plan_name %>
    <%= form.text_field :plan_name %>
  </div>

  <div class="field">
    <%= form.label :plan_order %>
    <%= form.number_field :plan_order %>
  </div>

  <div class="field">
    <%= form.label :plan_description %>
    <%= form.text_field :plan_description %>
  </div>

  <div class="field">
    <%= form.label :default_ind %>
    <%= form.check_box :default_ind %>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.text_field :status_id %>
  </div>

  <div class="field">
    <%= form.label :updated_by %>
    <%= form.text_field :updated_by %>
  </div>

  <div class="field">
    <%= form.label :created_by %>
    <%= form.text_field :created_by %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
