<%= form_with(model: material_medium) do |form| %>
  <% if material_medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material_medium.errors.count, "error") %> prohibited this material_medium from being saved:</h2>

      <ul>
        <% material_medium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :auth_account_id %>
    <%= form.text_field :auth_account_id %>
  </div>

  <div class="field">
    <%= form.label :material_medium %>
    <%= form.text_field :material_medium %>
  </div>

  <div class="field">
    <%= form.label :material_medium_order %>
    <%= form.number_field :material_medium_order %>
  </div>

  <div class="field">
    <%= form.label :default_ind %>
    <%= form.check_box :default_ind %>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.text_field :status_id %>
  </div>

  <div class="field">
    <%= form.label :updated_by %>
    <%= form.text_field :updated_by %>
  </div>

  <div class="field">
    <%= form.label :created_by %>
    <%= form.text_field :created_by %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
