<p id="notice"><%= notice %></p>

<h1>Material Media</h1>

<table>
  <thead>
    <tr>
      <th>Auth account</th>
      <th>Material medium</th>
      <th>Material medium order</th>
      <th>Default ind</th>
      <th>Status</th>
      <th>Updated by</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @material_media.each do |material_medium| %>
      <tr>
        <td><%= material_medium.auth_account_id %></td>
        <td><%= material_medium.material_medium %></td>
        <td><%= material_medium.material_medium_order %></td>
        <td><%= material_medium.default_ind %></td>
        <td><%= material_medium.status_id %></td>
        <td><%= material_medium.updated_by %></td>
        <td><%= material_medium.created_by %></td>
        <td><%= link_to 'Show', material_medium %></td>
        <td><%= link_to 'Edit', edit_material_medium_path(material_medium) %></td>
        <td><%= link_to 'Destroy', material_medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material Medium', new_material_medium_path %>
